@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.test {
  width: 50px;
  height: 50px;
  background-color: aqua;
  transform: rotate(180deg);
  transform: matrix();
}

.swiper {}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex !important;
  align-items: center;
}

.swiper-slide img {
  display: block;
}

/* SDG17 BACKGROUND */
#s,
#d,
#g,
#one,
#seven {
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
}

#s {
  background-image: url("../images/letter/1.png");
}

#d {
  background-image: url("../images/letter/2.png");
}

#g {
  background-image: url("../images/letter/3.png");
}

#one {
  background-image: url("../images/letter/4.png");
}

#seven {
  background-image: url("../images/letter/5.png");
}

/* links hover */
body,
html {
  margin: 0;
  font: bold 14px/1.4 "Open Sans", arial, sans-serif;
  background: #000;
}

li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  padding-top: 0px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}



@layer utilities {
  .holder {
    @apply bg-blue-400 w-[100px] h-[50px] text-center absolute translate-x-[-50%] translate-y-[-100%] skew-x-12;
  }
}